.container {
    width: 1110px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.header {
    background: #012D63;
}

.header-logo {}

.header-link {
    color: #C7C7C7;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header-link:hover {
    color: #FFF;
}

.header-sablink {
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.header-container {
    display: flex;
}

.header-list {
    display: flex;
    gap: 29px;

}

.header-lengvich {
    display: flex;
    gap: 10px;
}

.header-sablink:hover {
    color: #FFF;
}

/* main */

.main-word {
    background-image: url(./img/choose.png);
    height: 858px;
}

.main-img {
    padding-top: 94px;
}

.main-img {
    width: 160px;
}

.main-nike {
    color: #FFF;
    font-family: PT Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
}

.main-taitle {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.main-sabtitle {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;

    display: flex;
    justify-content: space-around;
    flex: start;

}

.main-button {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 10px;
    background: #8E32C6;
    width: 254px;
    height: 67px;
}

/* servises */

.servises {
    background-image: url(./img/group.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0;
}

.servises-cards {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid #8E32C6;
    align-items: center;

}

.servises-subcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 81px;
    margin: 25px 0;
}

.servises-subcard:first-child {
    border-right: 1px solid #FFF;

}

.servises-subcard:last-child {
    border-left: 1px solid #FFF;

}



.servises-subitem {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 4px;

    width: 159px;
    height: 102px;
}

.servises-img {
    width: 240px;
}


/* reviews */

.reviews {
    background-image: url(./img/flovers.png), url(./img/group.png);

    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: left bottom, center;
    padding-bottom: 114px;
}


.reviews-item {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 56px;
    padding-bottom: 56px;
}


.reviews-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 228px;
    padding-left: 13px;
    padding-right: 14px;
}

.reviews-date {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 13px;
}

.reviews-img {
    width: 31px;
    height: 31px;
}

.reviews-subitem {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-text {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews-title {
    padding-top: 49px;
    padding-bottom: 8px;
}

.reviews-title:nth-child(1) {
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}

.reviews-title:nth-child(2) {
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}

.reviews-title:nth-child(3) {
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}

.reviews-list {
    display: flex;
    gap: 93px;
    justify-content: center;

}

.reviews-subcards {
    display: flex;
    padding-top: 47px;
    padding-left: 13px;
    padding-bottom: 29px;
}


/* search */

.search {
    background-image: url(./img/fern.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 509px;
}


.search-title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}




.search-int::placeholder {
    color: #959595;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}