.container {
    width: 1110px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.header {
    background: #012D63;
}

.header-logo {}

.header-link {
    color: #C7C7C7;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header-link:hover {
    color: #FFF;
}

.header-sablink {
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.header-container {
    display: flex;
}

.header-list {
    display: flex;
    gap: 29px;

}

.header-lengvich {
    display: flex;
    gap: 10px;
}

.header-sablink:hover {
    color: #FFF;
}

/* main */

.main-word {
    background-image: url(./img/choose.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 858px;
}

.main-img {
    padding-top: 94px;
}

.main-img {
    width: 160px;
}

.main-nike {
    color: #FFF;
    font-family: PT Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
}

.main-taitle {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.main-sabtitle {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;

    display: flex;
    justify-content: space-around;
    flex: start;

}

.main-button {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 10px;
    background: #8E32C6;
    width: 254px;
    height: 67px;
}

/* servises */

.servises {
    background-image: url(./img/group.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0;
}

.servises-cards {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid #8E32C6;
    align-items: center;

}

.servises-subcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 81px;
    margin: 25px 0;
}

.servises-subcard:first-child {
    border-right: 1px solid #FFF;

}

.servises-subcard:last-child {
    border-left: 1px solid #FFF;

}



.servises-subitem {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 4px;

    width: 159px;
    height: 102px;
}

.servises-img {
    width: 240px;
}


/* reviews */

.reviews {
    background-image: url(./img/flovers.png), url(./img/group.png);

    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: left bottom, center;
    padding-bottom: 114px;
}


.reviews-item {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 56px;
    padding-bottom: 56px;
}


.reviews-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 228px;
    padding-left: 13px;
    padding-right: 14px;
}

.reviews-date {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 13px;
}

.reviews-img {
    width: 31px;
    height: 31px;
}

.reviews-subitem {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-text {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews-title {
    padding-top: 49px;
    padding-bottom: 8px;
}

.reviews-title:nth-child(1) {
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}

.reviews-title:nth-child(2) {
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}

.reviews-title:nth-child(3) {
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}

.reviews-list {
    display: flex;
    gap: 93px;
    justify-content: center;

}

.reviews-subcards {
    display: flex;
    padding-top: 47px;
    padding-left: 13px;
    padding-bottom: 29px;
}


/* search */

.search {
    background-image: url(./img/fern.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 509px;
}


.search-title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.search-item {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}


.search-item:first-child input {
    width: 690px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

.search-button {
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 13.5px;
    right: 0;
    color: #8D8D8D;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.search-box {
    position: relative;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}


input {
    display: block;
    width: 580px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding-left: 25px;
    padding-top: 11px;
}


.search-int::placeholder {
    color: #959595;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-button {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 248px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #8E32C6;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* footer */

.footer {
    padding-top: 45px;
    padding-bottom: 50px;
    background-color: #021635;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #ffffff;
}

.footer-img-nike {
    display: flex;
    justify-content: space-between;
}

.footer-country-nike {
    margin-top: 44px;
}

.footer-mail {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-decoration-line: underline;
    color: #ffffff;
}

.footer-country {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: #ffffff;
    margin-top: 7px;
}

.footer-abr {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
}

.footer-img {
    width: 108px;
    height: 81px;
    padding-top: 19px;
}