.container {
    width: 1110px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.header {
    background: #012D63;
}

.header-logo {}

.header-link {
    color: #C7C7C7;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header-link:hover {
    color: #FFF;
}

.header-sablink {
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.header-container {
    display: flex;
}

.header-list {
    display: flex;
    gap: 29px;

}

.header-lengvich {
    display: flex;
    gap: 10px;
}

.header-sablink:hover {
    color: #FFF;
}

/* main */

.main-word {
    background-image: url(./img/choose.png);
    height: 858px;
}

.main-img {
    padding-top: 94px;
}

.main-img {
    width: 160px;
}

.main-nike {
    color: #FFF;
    font-family: PT Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
}

.main-taitle {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.main-sabtitle {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;

    display: flex;
    justify-content: space-around;
    flex: start;

}

.main-button {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 10px;
    background: #8E32C6;
    width: 254px;
    height: 67px;
}

/* servises */

.servises {
    background-image: url(./img/group.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0;
}

.servises-cards {
    display: flex;
  justify-content: space-evenly;
    border: 5px solid #8E32C6;
    align-items: center;
   
}

.servises-subcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 81px;
    margin: 25px 0;
}

.servises-subcard:first-child{
    border-right: 1px solid #FFF;

}

.servises-subcard:last-child{
    border-left: 1px solid #FFF;

}



.servises-subitem {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 4px;

    width: 159px;
    height: 102px;
}

.servises-img {
    width: 240px;
}


/* reviews */

.reviews-item{
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 175px;
height: 65px; 

}


.reviews-text{
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 228px;
}

.reviews-date{
    color: #D8D8D8;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.reviews-img{
    width: 31px;
height: 31px;
}

.reviews-subitem{
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.sub-text{
    color: #D8D8D8;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.reviews-title{
    outline: solid red;
}

.reviews-list{
    display: flex;
    gap: 93px;
    justify-content: center;
}